
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
   Hakkımda
</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımda</h2>
            </div>
            <form>
                <div class="modal-body">
                    <label>
                        Bu proje 21.10.2025 tarihinde Münevver Orman tarafındanYoutube da yer alan ücretsiz 50 derste MVC eğitim videoları izlenerek yapılmıştır.
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>

