@{
    ViewBag.Title = "About";
}

<br />
<form method="get">

    <fieldset>
        Film Türü Seçin: <select id="MovieType" name="MovieType" class="form-control">


    <option value="0">Aksiyon</option>

    <option value="1">Drama</option>

    <option selected="2" value="2">Komedi</option>

    <option value="3">Bilim Kurgu</option>

    <option value="4">Macera</option>

    <option value="5">Fantastik</option>

    <option value="6">Korku</option>

</select>

    </fieldset>

</form>

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</main>

